.choicesWrapper {
    display: flex;
    justify-content: space-between;
    width: 36rem;
    margin: auto;
    padding: 10vh 0;
}

.rock, .paper, .scissors {
    font-family: Arial, Helvetica, sans-serif;
    background-color: E6AF2E;
    color: white;

}
button {
    margin: 2 rem, auto;
    border-radius: 10px;
    border: none;
    margin: auto;
    cursor: pointer;   
    height: 4rem;
    width: 8rem;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
}

p {
    text-align: center;
    height: 2rem;
}

.results {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.reset {
    font-family: Arial, Helvetica, sans-serif;
    background-color: 3D348B;
    color: white;
    margin-top: 10vh;
}
.buttonWrapper {
    display: flex;
}
